.searchFilm .form-control {
  border-radius: 20rem;
}
.searchFilm .form-control-prepended {
  padding-left: 0.375rem;
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
  border-left-width: 0;
}
.searchFilm .form-control {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.searchFilm .form-control:focus {
  color: #12263f;
  background-color: #fff;
  border-color: #2c7be5;
  outline: 0;
  box-shadow: transparent;
  box-shadow: none;
}

.searchFilm .input-group-prepend {
  margin-right: -1px;
  display: flex;
  order: -1;
}

.searchFilm .input-group-text {
  border-top-left-radius: 20rem;
  border-bottom-left-radius: 20rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #95aac9;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.searchFilm .form-control:focus.input-group-text {
  z-index: 10;
  border-color: #2c7be5;
  color: #2c7be5;
}

/* .input-group.input-group-merge>.form-control-prepended */